body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  padding: 2%;
}

.main-container {
  height: 100%;
  margin-top: 5%;
  padding: 2%;
}
.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.character-table table, th, td {
  border: 1px solid black;
  padding: 1.5%;
}